<div class="page">
    <div class="container">

    <div class="nav">
    {{#link-to 'books' class="nav-item"}} Home {{/link-to}}

    {{#link-to 'create-book' class='btn btn-addBook'}} Add Book {{/link-to}}
    </div>

    {{outlet}}
            
    </div>
</div>